.cart-container {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    background-color: #3498db;
    padding: 20px;
    text-align: center;
}

.cart-container h2 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
}

.cart-container ul {
    width: 80%;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

.cart-container li {
    font-size: 18px;
    display: block;
    margin: 10px auto;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    transition: background-color 0.3s;
    text-transform: capitalize;
    border-radius: 5px;
    width: 40%;
    max-height: 50%;
    display: flex;
}

.textCart {
    margin: auto auto;
}

.buttons-cart {
    background-color: #3498db;
    color: #fff;
    border: 1px solid black;
    width: 20%;
    height: 50px;
    margin: 10px;
}

.cart-container .buttons:hover {
    background-color: rgb(255, 254, 254);
    color: #333;
    border-color: #3498db;
}

@media (max-width: 768px) {
    .cart-container {
        width: 90%;
        height: 100vh;
    }
    .cart-container ul {
        width: 100%;
    }
    .cart-container li {
        width: 80%;
        max-height: 50%;
        display: flex;
    }
}